<h1>{{ usuarioToEdit ? 'Actualizar Usuario' : 'Registrar Usuario' }}</h1>

<p-divider></p-divider>

<div class="grid justify-content-center align-items-center">
  <div class="col-12 sm:col-8 md:col-6">
    <p-card class="grid">

    <div class="grid">
      <!-- Formulario para agregar o editar un usuario -->
      <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="p-fluid grid">
        <!-- Campo Email -->
        <div class="col-12">
          <label for="email">Email</label>
          <input pInputText id="email" formControlName="email" placeholder="Email" required type="email" />
        </div>

        <!-- Campo Usuario -->
        <div class="col-12">
          <label for="usuario">Usuario</label>
          <input pInputText id="usuario" formControlName="usuario" placeholder="Usuario" required />
        </div>

        <!-- Campo Clave -->
        <div class="col-12">
          <label for="clave">Clave</label>
          <input pInputText type="password" id="clave" formControlName="clave" placeholder="Clave" required />
        </div>

        <!-- Campo Rol -->
        <div class="col-12">
          <label for="rol">Rol</label>
          <p-multiSelect
          id="rol"
          formControlName="rol"
          [options]="roles"
          placeholder="Selecciona uno o más roles"
          required>
        </p-multiSelect>
        </div>

        <!-- Botón para guardar -->
        <div class="col-12">
          <button pButton type="submit" label="{{ usuarioToEdit ? 'Actualizar' : 'Guardar' }}"></button>
        </div>
      </form>
    </div>
    </p-card>
  </div>
</div>
