<shared-menu></shared-menu>

<div class="layout-container">
  <!-- Contenedor de la tabla de responsables -->
  <div class="table-container " *ngIf="canViewTable">
    <p-card
    [style]="{
      border: '1px solid #162016',
      borderRadius: '15px',
      backgroundColor: '#ffffff',
      color: 'white'
  }"
    >
    <responsable-table
    [canEdit]="canEdit"
    (editResponsable)="onEditResponsable($event)"></responsable-table>
    </p-card>
  </div>

  <!-- Contenedor del formulario de responsables -->
  <div class="form-container" *ngIf="canViewForm">
    <p-card
    [style]="{
      border: '1px solid #162016',
      borderRadius: '15px',
      backgroundColor: '#ffffff',
      color: '#333333'
    }">
      <app-new-responsable
        [responsableToEdit]="selectedResponsable"
        (formSubmit)="onFormSubmit()"
      ></app-new-responsable>
    </p-card>
  </div>
</div>
