<p-table
  [value]="voluntarios"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  (onPage)="onPageChange($event)"
  [scrollable]="true"
  scrollHeight="570px"
  class="voluntario-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:20%">Nombre</th>
      <th style="width:20%">Apellido</th>
      <th style="width:10%">Género</th>
      <th style="width:20%">Correo</th>
      <th style="width:10%">Teléfono</th>
      <th style="width:10%">Fecha Nacimiento</th>
      <th style="width:10%">Comentario</th>
      <th style="width:10%">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-voluntario let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ voluntario.nombre }}</td>
      <td>{{ voluntario.apellido }}</td>
      <td>{{ voluntario.genero }}</td>
      <td>{{ voluntario.correo }}</td>
      <td>{{ voluntario.telefono }}</td>
      <td>{{ voluntario.fechaNacimiento }}</td>
      <td>{{ voluntario.comentarios }}</td>
      <td class="fixed-column">
        <div class="button-container">
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(voluntario)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Botones de navegación para la paginación -->
<div class="pagination-container">
  <button pButton class="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton class="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton class="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton class="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>
