<div class="grid">
  <!-- Columna de la tabla de beneficiarios -->
  <div class="table-container col-12 md:col-8">
    <app-beneficiario-table (editBeneficiario)="onEditBeneficiario($event)"></app-beneficiario-table>
  </div>

  <!-- Columna del formulario para registrar o actualizar un beneficiario -->
  <div class="form-container col-12 md:col-4">
    <p-card>
      <app-new-beneficiario
        [beneficiarioToEdit]="selectedBeneficiario"
        (formSubmit)="onFormSubmit()"
      ></app-new-beneficiario>
    </p-card>
  </div>
</div>
