


<h1>{{ beneficiarioToEdit ? 'Actualizar Beneficiario' : 'Registrar Beneficiario' }}</h1>

<p-divider></p-divider>

<div class="grid">
  <div class="col-12 sm:col-6 md:col-3">

    <!-- Aquí va el contenido de la tarjeta -->
      <div class="grid form-scroll-container">
        <form [formGroup]="beneficiarioForm" (ngSubmit)="onSubmit()" class="p-fluid grid">

          <input type="hidden" formControlName="id" />

          <!-- Campo DPI -->
          <div class="col-12 form-field" [ngClass]="{ 'has-error': isFieldInvalid('dpi') }">
            <label for="dpi">DPI</label>
            <input pInputText id="dpi" formControlName="dpi" placeholder="DPI" required  [readOnly]="beneficiarioToEdit ? true : false" />
            <div class="error-message" *ngIf="isFieldInvalid('dpi')">
              <ng-container *ngIf="beneficiarioForm.get('dpi')?.errors?.['required']">
                El campo DPI es obligatorio.
              </ng-container>
              <ng-container
                *ngIf="beneficiarioForm.get('dpi')?.errors?.['minlength'] || beneficiarioForm.get('DPI')?.errors?.['maxlength']">
                El DPI debe tener 13 caracteres numéricos.
              </ng-container>
            </div>
          </div>

          <!-- Autocomplete para Proyecto -->
        <!-- Autocomplete para Proyecto -->
        <div class="col-12 form-field" [ngClass]="{ 'has-error': isFieldInvalid('proyecto') }">
          <label for="proyecto">Proyecto</label>
          <p-autoComplete
          appendTo="body"
          [inputStyle]="{'width': '100%'}"
          [suggestions]="filteredProjects"
          (completeMethod)="buscarProyectos($event)"
          (onSelect)="onProyectoSeleccionado($event)"
          [forceSelection]="true"
          [dropdown]="true"
          field="nombreCompleto"
          FormControl="beneficiarioForm.get('proyecto')"
          [minLength]="1"
          placeholder="Selecciona un proyecto">
        </p-autoComplete>

          <!-- Campo oculto para enviar solo el ID del proyecto -->
          <input type="hidden" formControlName="proyecto">
          <div class="error-message" *ngIf="isFieldInvalid('proyecto')">
            <ng-container *ngIf="beneficiarioForm.get('proyecto')?.errors?.['required']">
              El campo Proyecto es obligatorio.
            </ng-container>
          </div>
        </div>
          <!-- Botón para cargar más proyectos -->
          <div class="col-12" *ngIf="nextPageUrl">
            <button pButton label="Cargar más proyectos" (click)="cargarMasProyectos()" type="button"></button>
          </div>

          <!-- Botón para guardar -->
          <div class="col-12">
            <button pButton
            type="submit" label="{{ beneficiarioToEdit ? 'Actualizar' : 'Guardar' }}"></button>
          </div>
        </form>
      </div>
  </div>
</div>

