<shared-menu></shared-menu>

<div class="layout-container">
  <!-- Columna de la tabla de proyectos -->
  <div class="table-container" *ngIf="canViewTable">
    <p-card>
      <app-project-table
      [canEdit]="canEdit"
      (editProyecto)="onEditProyecto($event)"></app-project-table>
    </p-card>

  </div>

  <!-- Columna del formulario de registro/actualización -->
  <div class=" form-container" *ngIf="canViewForm">
      <app-new-project
        [proyectoToEdit]="selectedProyecto"
        (formSubmit)="onFormSubmit()"
      ></app-new-project>
  </div>
</div>
