<shared-menu></shared-menu>

<div class="layout-container">
  <!-- Columna de la tabla de proyectos -->
  <div class="table-container" *ngIf="canViewTable">
    <p-card
    [style]="{
      border: '1px solid #162016',
      borderRadius: '15px',
      backgroundColor: '#ffffff',
      color: 'white'
  }"
    >
      <app-project-table
      [canEdit]="canEdit"
      (editProyecto)="onEditProyecto($event)"></app-project-table>
    </p-card>

  </div>

  <!-- Columna del formulario de registro/actualización -->
  <div class=" form-container" *ngIf="canViewForm">
    <p-card
[style]="{
  border: '1px solid #162016',
  borderRadius: '15px',
  backgroundColor: '#ffffff',
  color: '#333333'
}">
      <app-new-project
        [proyectoToEdit]="selectedProyecto"
        (formSubmit)="onFormSubmit()"
      ></app-new-project>
    </p-card>
  </div>
</div>
