
<p-table
[value]="persons"
[rows]="pageSize"
[totalRecords]="totalElements"
(onPageChange)="onPageChange($event)"
[scrollable]="true"
scrollHeight="590px"
[frozenWidth]= "'600px'"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:5%">#</th>
            <th style="width:10%">DPI</th>
            <th style="width:10%">Primer Nombre</th>
            <th style="width:10%">Segundo Nombre</th>
            <th style="width:10%">Tercer Nombre</th>
            <th style="width:10%">Primer Apellido</th>
            <th style="width:10%">Segundo Apellido</th>
            <th style="width:10%">NIT</th>
            <th style="width:10%">Teléfono</th>
            <th style="width:10%">Fecha Nacimiento</th>
            <th style="width:10%">Etnia</th>
            <th style="width:10%">Género</th>
            <th style="width:10%">Estado Civil</th>
            <th style="width:15%">Número Hijos</th>
            <th style="width:10%">Código Departamento</th>
            <th style="width:10%">Nombre Departamento</th>
            <th style="width:10%">Código Municipio</th>
            <th style="width:10%">Nombre Municipio</th>
            <th style="width:10%">Comunidad</th>
            <th style="width:10%">Discapacidad Auditiva</th>
            <th style="width:10%">Discapacidad Motora</th>
            <th style="width:10%">Discapacidad Intelectual</th>
            <th style="width:10%">Comunidad Lingüística</th>
            <th style="width:10%">Cultivo</th>
            <th style="width:10%">Vende Excedente Cosecha</th>
            <th style="width:10%">Tipo Productor</th>
            <th style="width:10%">Organización</th>
            <th style="width:10%">Acciones</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-person let-i="rowIndex">
        <tr>
            <td>{{ currentPage * pageSize + i + 1 }}</td>
            <td>{{ person.DPI}}</td>
            <td>{{ person.primerNombre }}</td>
            <td>{{ person.segundoNombre }}</td>
            <td>{{ person.tercerNombre }}</td>
            <td>{{ person.primerApellido }}</td>
            <td>{{ person.segundoApellido }}</td>
            <td>{{ person.NIT }}</td>
            <td>{{ person.telefono }}</td>
            <td>{{ person.fechaNacimiento }}</td>
            <td>{{ person.etnia }}</td>
            <td>{{ person.genero }}</td>
            <td>{{ person.estadoCivil }}</td>
            <td>{{ person.numeroHijos }}</td>
            <td>{{ person.direccion.codigoDepartamento }}</td>
            <td>{{ person.direccion.nombreDepartamento }}</td>
            <td>{{ person.direccion.codigoMunicipio }}</td>
            <td>{{ person.direccion.nombreMunicipio }}</td>
            <td>{{ person.direccion.comunidad }}</td>
            <td>{{ person.discapacidad.discapacidadAuditiva | YesOrNo }}</td>
            <td>{{ person.discapacidad.discapacidadMotora | YesOrNo }}</td>
            <td>{{ person.discapacidad.dicapacidadIntelectual | YesOrNo }}</td>
            <td>{{ person.comunidadLinguistica }}</td>
            <td>{{ person.cultivo }}</td>
            <td>{{ person.vendeExecedenteCosecha | YesOrNo}}</td>
            <td>{{ person.tipoProductor }}</td>
            <td>{{ person.organizacion }}</td>

            <td class="fixed-column">
              <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info"
                (click)="onEdit(person)">
              </button>
              <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="confirmDelete(person)">
              </button>
            </td>
        </tr>
    </ng-template>
    <button></button>
</p-table>
<div class="pagination-container">
  <button pButton class="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton class="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton class="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton class="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>

