
<shared-menu></shared-menu>

<div class="layout-container">
  <!-- Columna de la tabla de personas -->
  <div class="table-container" *ngIf="canViewTable">
    <p-card
    [style]="{
      border: '1px solid #162016',
      borderRadius: '15px',
      backgroundColor: '#ffffff',
      color: 'white'
  }"
    >
      <person-table
      [canEdit]="canEdit"
      (editPerson)="onEditPerson($event)"></person-table>
    </p-card>
  </div>

  <!-- Columna del formulario de registro/actualización -->
  <div class="form-container" *ngIf="canViewForm">
    <p-card
    [style]="{
      border: '1px solid #162016',
      borderRadius: '15px',
      backgroundColor: '#ffffff',
      color: '#333333'
    }">
    <person-new-page
      [personToEdit]="selectedPerson"
      (formSubmit)="onFormSubmit()">
    </person-new-page>
    </p-card>
  </div>
</div>
