<div class="toolbar-container">
  <!-- Barra de búsqueda y botón de exportar -->
  <div class="search-and-export">
    <shared-search-box (onDebounce)="onSearch($event)"></shared-search-box>
    <button pButton icon="pi pi-file-excel" label="Exportar"  ></button>
  </div>
  
<p-table
  [value]="beneficiarios"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  (onPage)="onPageChange($event)"
  [scrollable]="true"
  scrollHeight="500px"
  [frozenWidth]="'600px'"
  class="beneficiario-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:10%">DPI</th>
      <th style="width:10%">Nombre</th>
      <th style="width:10%">Apellido</th>
      <th style="width:10%">Teléfono</th>
      <th style="width:15%">Fecha de Nacimiento</th>
      <th style="width:15%">Nombre del Proyecto</th>
      <th style="width:10%">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-beneficiario let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ beneficiario.DPI}}</td>
      <td>{{ beneficiario.primerNombre }}</td>
      <td>{{ beneficiario.primerApellido }}</td>
      <td>{{ beneficiario.telefono }}</td>
      <td>{{ beneficiario.fechaNacimiento | date: 'shortDate' }}</td>
      <td>{{ beneficiario.NombreProyecto }}</td>
      <td class="fixed-column">

        <div class="button-container">

          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info" (click)="onEdit(beneficiario)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(beneficiario)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="!beneficiarios?.length && !isLoading" class="alert alert-warning text-center">
  No se encontraron beneficiarios.
</div>

<div class="pagination-container">
  <button pButton class="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton class="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton class="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton class="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>


<shared-loading-spinner
*ngIf="isLoading"
></shared-loading-spinner>
