

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen según necesites */
  gap: 10px; /* Espacio entre los botones */
}

.fixed-column {
  position: sticky;
  right: 0;
  background: white;
  z-index: 1;
}
.button-container {
  /* separacion entre botones */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert-warning{
  margin-top: 10px;
  background-color: #ffeb3b;
  color: #000;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}




/* Añade estilos para la tabla */

