.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen según necesites */
  gap: 10px; /* Espacio entre los botones */
}

.fixed-column {
  position: sticky;
  right: 0;
  background: white;
  z-index: 1;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.toolbar-container {
  padding: 1rem;
}

.search-and-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-and-export button {
  margin-left: 1rem;
}

.beneficiario-table {
  margin-top: 1rem;
}
