
  <!-- Barra de búsqueda y botón de exportar -->
  <div class="search-and-export">
    <shared-search-box
    [placeHolder]="'Buscar beneficiario por DPI'"
    (onDebounce)="onSearch($event)"></shared-search-box>
    <button
    [style]="{
      border: '1px solid black',
      backgroundColor: '#27FA20',
      color: '#333333'
    }"
    *ngIf="canEdit" pButton icon="pi pi-file-excel" label="Exportar" (click)="openExportDialog()"  ></button>
  </div>

<p-table
[style]="{
  border: '1px solid #162016',
  borderRadius: '6px',
  backgroundColor: 'green',
  color: 'white'
}"
  [value]="beneficiarios"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  [scrollable]="true"
  scrollHeight="470px"
  class="beneficiario-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:10%">DPI</th>
      <th style="width:10%">Nombre</th>
      <th style="width:10%">Primer Apellido</th>
      <th style="width:10%">segundo Apellido</th>
      <th style="width:10%">Teléfono</th>
      <th style="width:10%">Responsable</th>
      <th style="width:10%">Organizacion</th>
      <th style="width:15%">Nombre del Proyecto</th>
      <th *ngIf="canEdit || canDelete" style="width:10%">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-beneficiario let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ beneficiario.DPI}}</td>
      <td>{{ beneficiario.primerNombre }}</td>
      <td>{{ beneficiario.primerApellido }}</td>
      <td>{{ beneficiario.segundoApellido }}</td>
      <td>{{ beneficiario.telefono }}</td>

      <td>{{ beneficiario.responsable }}</td>
      <td>{{ beneficiario.organizacion }}</td>
      <td>{{ beneficiario.NombreProyecto }}</td>
      <td *ngIf="canEdit || canDelete" class="fixed-column">

        <div class="button-container">

          <button
          [style]="{
            border: '1px solid black',
            backgroundColor: '#FFB82D',
            color: '#333333',
            marginBottom: '5px'
          }"

          *ngIf="canEdit"
          pButton icon="pi pi-pencil" class="p-button-rounded p-button-info" (click)="onEdit(beneficiario)"></button>
          <button
          *ngIf="canDelete"
          pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(beneficiario)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="!beneficiarios?.length && !isLoading" class="alert alert-warning text-center">
  No se encontraron beneficiarios.
</div>

<div class="pagination-container">
  <button pButton class="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton class="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton class="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton class="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>


<shared-loading-spinner
*ngIf="isLoading"
></shared-loading-spinner>
