<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="flex flex-column">
    <span class="text-center mb-4">LOGIN</span>

    <div class="flex flex-column md:flex-row">
      <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">

        <!-- Campo Usuario -->
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
          <label class="w-6rem">Usuario</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Username" formControlName="usuario" />
          </p-inputGroup>
          <small class="error-message" *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched">
            <ng-container *ngIf="loginForm.get('usuario')?.errors?.['required']">El usuario es obligatorio.</ng-container>
            <ng-container *ngIf="loginForm.get('usuario')?.errors?.['minlength']">
              El usuario debe tener al menos 3 caracteres.
            </ng-container>
          </small>
        </div>

        <!-- Campo Contraseña -->
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
          <label class="w-6rem">Password</label>
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-lock"></i>
            </p-inputGroupAddon>
            <input pInputText type="password" placeholder="Password" formControlName="contrasena" />
          </p-inputGroup>
          <small class="error-message" *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
            <ng-container *ngIf="loginForm.get('contrasena')?.errors?.['required']">
              La contraseña es obligatoria.
            </ng-container>
            <ng-container *ngIf="loginForm.get('contrasena')?.errors?.['minlength']">
              La contraseña debe tener al menos 6 caracteres.
            </ng-container>
          </small>
        </div>

        <!-- Botón de inicio de sesión -->
        <button pButton label="Iniciar sesión" icon="pi pi-user" styleClass="w-13rem mx-auto" type="submit"
          [disabled]="loginForm.invalid"></button>
      </div>

      <div class="w-full md:w-2">
        <p-divider layout="vertical" styleClass="hidden md:flex">
          <b></b>
        </p-divider>
        <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
          <b>OR</b>
        </p-divider>
      </div>

      <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">
        <p>Unidos para transformar comunidades: promoviendo el desarrollo rural integral y el bienestar económico</p>
      </div>
    </div>
  </div>
</form>
