.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen según necesites */
  gap: 10px; /* Espacio entre los botones */
}

.fixed-column {
  position: sticky;
  right: 0;
  background: white;
  z-index: 1;
}

.search-and-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  border: 1px solid #ccc; /* Borde gris alrededor */
  background-color: #f9f9f9; /* Fondo claro */
  padding: 1rem; /* Espacio interno alrededor del contenido */
  border-radius: 8px; /* Bordes redondeados */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.alert-warning{
  margin-top: 10px;
  background-color: #ffeb3b;
  color: #000;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}
