<p-table
  [value]="proyectos"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  (onPage)="onPageChange($event)"
  [scrollable]="true"
  scrollHeight="510px"
  class="proyecto-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:10%">Nombre</th>
      <th style="width:20%">Descripción</th>
      <th style="width:10%">Fecha Inicio</th>
      <th style="width:10%">Fecha Fin</th>
      <th style="width:10%" class="fixed-column" >Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-proyecto let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ proyecto.nombre }}</td>
      <td>{{ proyecto.descripcion }}</td>
      <td>{{ proyecto.fechaInicio }}</td>
      <td>{{ proyecto.fechaFin }}</td>
      <td class="fixed-column">
        <div class="button-container">

          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-info"
          (click)="onEdit(proyecto)">
        </button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
        (click)="confirmDelete(proyecto)">
      </button>
    </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Sección de Paginación -->
<div class="pagination-container">
  <button pButton icon="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton icon="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton icon="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton icon="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>
