.spinner-container{
  align-items: center;
  background-color: black;
  border-radius: 20px;
  bottom: 15px;
  color: white;
  display: flex;
  padding: 5px 10px;
  position: fixed;
  right: 15px;
  box-shadow: rgba(0,0, 0, .5);
  z-index: 1000;
}

span{
  margin-left: 10px;
}
