@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }

  .table-container {
    width: 100%;
  }

  .p-dropdown, .p-inputtext, .p-checkbox {
    width: 100%; /* Ajusta este valor según tus necesidades */
  }

}

.form-scroll-container {
  max-height: 500px; /* Cambia esto según necesites */
  overflow-y: auto;  /* Permite el scroll vertical */
  padding-right: 15px; /* Añade un pequeño espacio a la derecha para el scroll */
}


