<p-table
[style]="{
  border: '1px solid #162016',
  borderRadius: '6px',
  color: 'white'
}"
  [value]="donadores"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  [scrollable]="true"
  scrollHeight="470px"
  class="donador-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:20%">Nombre</th>
      <th style="width:20%">Apellido</th>
      <th style="width:10%">Género</th>
      <th style="width:20%">Correo</th>
      <th style="width:10%">Teléfono</th>
      <th style="width:10%">Fecha Nacimiento</th>
      <th style="width:10%">Comentarios</th>
      <th style="width:15%">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-donador let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ donador.nombre }}</td>
      <td>{{ donador.apellido }}</td>
      <td>{{ donador.genero }}</td>
      <td>{{ donador.correo }}</td>
      <td>{{ donador.telefono }}</td>
      <td>{{ donador.fechaNacimiento  |date: "dd-MM-YYYY"}}</td>
      <td>{{ donador.comentarios }}</td>
      <td class="fixed-column">
        <div class="button-container">
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(donador)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="!donadores.length && !isLoading" class="alert alert-warning text-center">
  <p>No hay donadores registrados</p>
</div>

<!-- Botones de navegación para la paginación -->
<div class="pagination-container">
  <button pButton class="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton class="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton class="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton class="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>

<shared-loading-spinner
*ngIf="isLoading"
></shared-loading-spinner>
