<h1></h1>

<p-divider></p-divider>

<div class="grid justify-content-center align-items-center">
  <div class="col-12 sm:col-8 md:col-6">
    <p-card>
      <div class="grid">
        <!-- Formulario para agregar o editar un héroe -->
        <form [formGroup]="responsableForm" (ngSubmit)="onSubmit()" class="p-fluid grid fromgrid">
          <div class="col-12">
            <label for="nombre"> Nombre</label>
            <input
              pInputText
              id="nombre"
              required
              placeholder="Nombre"
              formControlName="nombre"
            />
          </div>

          <!-- Alter ego -->
          <div class="col-12">
            <label for="apellido">Apellido</label>
            <input id="apellido" pInputText formControlName="apellido" placeholder="Apellido" />
          </div>

          <!-- Primera aparición -->
          <div class="col-12">
            <label for="genero">genero</label>
            <input id="genero" pInputText formControlName="genero" placeholder="Genero" />
          </div>

          <!-- Personajes -->
          <div class="col-12">
            <label for="correo">E-mail</label>
            <input id="correo" pInputText formControlName="correo" placeholder="E-mail" />
          </div>
          <div class="col-12">
            <label for="telefono">telefono</label>
            <input id="telefono" pInputText formControlName="telefono" placeholder="telefono" />
          </div>
          <div class="col-12">
            <label for="fechaNacimiento">fechaNacimiento</label>
            <input id="fechaNacimiento" pInputText formControlName="fechaNacimiento" placeholder="fechaNacimiento" />
          </div>


          <!-- Botón para guardar -->
          <div class="col-12">
            <button
            (click)="onSubmit()"
            pButton type="submit" label="Guardar"></button>
          </div>
        </form>
      </div>
    </p-card>
  </div>

  <!-- Vista informativa-->
  <div class="col-12 sm:col-8 md:col-4">
    <p-card>
      <div class="grid">
        <div class="col-12 info-section">
        </div>
      </div>
    </p-card>
  </div>
</div>
