
<div class="search-and-export">
  <shared-search-box
    [placeHolder]="'Buscar responsable nombre'"
  (onDebounce)="onSearch($event)"></shared-search-box>
</div>

<p-table
[style]="{
  border: '1px solid #162016',
  borderRadius: '6px',
  color: 'white'
}"
  [value]="responsables"
  [rows]="pageSize"
  [totalRecords]="totalElements"
  [lazy]="true"
  [scrollable]="true"
  scrollHeight="470px"
  class="responsable-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:5%">#</th>
      <th style="width:10%">Nombre</th>
      <th style="width:10%">Apellido</th>
      <th style="width:10%">Género</th>
      <th style="width:10%">Correo</th>
      <th style="width:10%">Teléfono</th>
      <th style="width:15%">Fecha Nacimiento</th>
      <th style="width:10%">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-responsable let-i="rowIndex">
    <tr>
      <td>{{ currentPage * pageSize + i + 1 }}</td>
      <td>{{ responsable.nombre }}</td>
      <td>{{ responsable.apellido }}</td>
      <td>{{ responsable.genero }}</td>
      <td>{{ responsable.correo }}</td>
      <td>{{ responsable.telefono }}</td>
      <td>{{ responsable.fechaNacimiento | date: "dd-MM-YYYY" }}</td>
      <td class="fixed-column">
        <div class="button-container">
          <button
          [style]="{
            border: '1px solid black',
            backgroundColor: '#FFB82D',
            color: '#333333',
            marginBottom: '5px'
          }"

          *ngIf="canEdit" pButton icon="pi pi-pencil" class="p-button-rounded p-button-info" (click)="onEdit(responsable)"></button>
          <button  *ngIf="canEdit" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDelete(responsable)"></button>
        </div>
        </td>
    </tr>
  </ng-template>
</p-table>

<div class="pagination-container">
  <button pButton icon="pi pi-angle-double-left" (click)="loadFirstPage()" *ngIf="links?.first"></button>
  <button pButton icon="pi pi-angle-left" (click)="loadPrevPage()" *ngIf="links?.prev"></button>
  <button pButton icon="pi pi-angle-right" (click)="loadNextPage()" *ngIf="links?.next"></button>
  <button pButton icon="pi pi-angle-double-right" (click)="loadLastPage()" *ngIf="links?.last"></button>
</div>

<shared-loading-spinner
*ngIf="isLoading"
>
</shared-loading-spinner>
