<div class="p-fluid ">
  <form [formGroup]="exportForm">

    <!-- Dropdown para seleccionar el proyecto -->
    <div class="p-field">
      <label for="proyecto">Seleccionar Proyecto</label>
      <p-dropdown
        id="proyecto"
        formControlName="proyecto"
        [options]="proyectos"
        optionLabel="id"
        optionLabel="nombre"
        optionValue="id"
        placeholder="Selecciona un proyecto"
        appendTo="body"
      >

      <ng-template let-proyecto pTemplate="item">
        <span style="font-weight: bold">{{ proyecto.id }}</span> - {{ proyecto.nombre }} - {{ proyecto.descripcion }}
      </ng-template>
    </p-dropdown>




      <div *ngIf="exportForm.get('proyecto')?.invalid && exportForm.get('proyecto')?.touched" class="error-message">
        Proyecto es obligatorio.
      </div>
    </div>

    <!-- RadioButtons para seleccionar el estado (activo/inactivo) -->
    <div class="p-field">
      <label>Estado</label>
      <p-radioButton formControlName="activo" [value]="true" label="Activos"></p-radioButton>
      <p-radioButton formControlName="activo" [value]="false" label="Inactivos"></p-radioButton>
    </div>

    <!-- Botón de Exportar -->
    <div class="p-dialog-footer">
      <button pButton label="Exportar" icon="" (click)="onConfirm()" [disabled]="exportForm.invalid" type="button" styleClass="p-button-success"></button>
    </div>

  </form>
</div>
